{% extends 'base.html' %}
{% block content %}
<h2>{{sem.table}}</h2>
<div>
    이수학점: {{sem.credits}}
</div>
<div>
    평점: {{sem.grade}}
</div>
<div>
    <a href="{% url 'sju:semester_update' sem.id %}">수정</a>
</div>
<h5>{{sem.subjects_set.count}}개의 과목을 들었습니다.</h5>
<div>
    <ul>
        {% for sub in sem.subjects_set.all %}
        <li>
            {{ sub.name }} ({{sub.credit}}학점)
            <a href="{% url 'sju:subject_update' sub.id %}">과목 수정</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <a href="{% url 'sju:subject_create' sem.id %}">과목 등록</a>
</div>
{% endblock %}